<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AWS IoT Monitor</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js" integrity="sha256-TaLceMwjWRqe4yhbqPOJH6V7UGt5AvvdNfpaIXJWbFU=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aws-sdk/2.263.1/aws-sdk.min.js" integrity="sha256-g+nqUQDzm9NB7tguEWm6GoqF6WZ13BW80RgjXCFID74=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.2/mqttws31.min.js" integrity="sha256-UplsBBNj5zR16Nyo1bVLLVd0ndtLYs0A5c4WrbK/etU=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k=" crossorigin="anonymous"></script>
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/css/uikit.min.css" integrity="sha256-Ug5hzlr8xis3rZZpWpE6ViCx2G8He4kO4w2azn+3A7Y="
    crossorigin="anonymous" />
  <style>
    .list-item {
      display: inline-block;
      margin-right: 10px;
    }

    .list-enter-active,
    .list-leave-active {
      transition: all .25s;
    }

    .list-enter,
    .list-leave-to
    /* .list-leave-active for below version 2.1.8 */

      {
      opacity: 0;
      transform: translateY(-20px);
    }
  </style>
  <script>/* from https://docs.aws.amazon.com/ja_jp/iot/latest/developerguide/protocols.html */
    /**
     * utilities to do sigv4
     * @class SigV4Utils
     */
    function SigV4Utils() { }

    SigV4Utils.getSignatureKey = function (key, date, region, service) {
      var kDate = AWS.util.crypto.hmac('AWS4' + key, date, 'buffer');
      var kRegion = AWS.util.crypto.hmac(kDate, region, 'buffer');
      var kService = AWS.util.crypto.hmac(kRegion, service, 'buffer');
      var kCredentials = AWS.util.crypto.hmac(kService, 'aws4_request', 'buffer');
      return kCredentials;
    };

    SigV4Utils.getSignedUrl = function (host, region, credentials) {
      var datetime = AWS.util.date.iso8601(new Date()).replace(/[:\-]|\.\d{3}/g, '');
      var date = datetime.substr(0, 8);

      var method = 'GET';
      var protocol = 'wss';
      var uri = '/mqtt';
      var service = 'iotdevicegateway';
      var algorithm = 'AWS4-HMAC-SHA256';

      var credentialScope = date + '/' + region + '/' + service + '/' + 'aws4_request';
      var canonicalQuerystring = 'X-Amz-Algorithm=' + algorithm;
      canonicalQuerystring += '&X-Amz-Credential=' + encodeURIComponent(credentials.accessKeyId + '/' + credentialScope);
      canonicalQuerystring += '&X-Amz-Date=' + datetime;
      canonicalQuerystring += '&X-Amz-SignedHeaders=host';

      var canonicalHeaders = 'host:' + host + '\n';
      var payloadHash = AWS.util.crypto.sha256('', 'hex')
      var canonicalRequest = method + '\n' + uri + '\n' + canonicalQuerystring + '\n' + canonicalHeaders + '\nhost\n' + payloadHash;

      var stringToSign = algorithm + '\n' + datetime + '\n' + credentialScope + '\n' + AWS.util.crypto.sha256(canonicalRequest, 'hex');
      var signingKey = SigV4Utils.getSignatureKey(credentials.secretAccessKey, date, region, service);
      var signature = AWS.util.crypto.hmac(signingKey, stringToSign, 'hex');

      canonicalQuerystring += '&X-Amz-Signature=' + signature;
      if (credentials.sessionToken) {
        canonicalQuerystring += '&X-Amz-Security-Token=' + encodeURIComponent(credentials.sessionToken);
      }

      var requestUrl = protocol + '://' + host + uri + '?' + canonicalQuerystring;
      return requestUrl;
    };
  </script>
</head>

<body>
  <div class="uk-section-primary">
    <nav uk-navbar class="uk-navbar-container uk-navbar-transparent">
      <div class="uk-navbar-left">
        <span class="uk-navbar-item">AWS IoT Monitor</span>
      </div>
    </nav>
  </div>
  <div class="uk-container uk-margin">
    <div id="app1">
      <ul uk-tab>
        <li>
          <a href="#">Settings</a>
        </li>
        <li>
          <a href="#">Subscribe</a>
        </li>
        <li>
          <a href="#">Publish</a>
        </li>
        <li>
          <a href="#">ETC</a>
        </li>
      </ul>

      <ul class="uk-switcher uk-margin">
        <li>
          <!-- Settings -->
          <form class="uk-form-stacked">
            <div class="uk-margin">
              <label class="uk-form-label" for="cognito-identity-pool-id">CognitoIdentityPoolId for AWS IoT</label>
              <div class="uk-form-controls">
                <input type="text" id="cognito-identity-pool-id" v-model="connectSettings.cognitoIdentityPoolId" :disabled="connected" class="uk-input"
                  placeholder="e.g.) ap-northeast-1:c2e69282-...">
              </div>
            </div>
            <div class="uk-margin">
              <label class="uk-form-label" for="client-id">ClientId for AWS IoT /
                <button type="button" @click="generateClientId()" :disabled="connected" class="uk-button uk-button-link">Generate</button>
              </label>
              <div class="uk-form-controls">
                <input type="text" id="client-id" v-model="connectSettings.clientId" :disabled="connected" class="uk-input" placeholder="e.g.) anyClientId">
              </div>
            </div>
            <div class="uk-margin">
              <div class="uk-form-controls">
                <button type="button" @click="action()" class="uk-button uk-button-default">{{ op }}</button>
                <!-- for UX -->
                <button type="button" @click="reset()" :disabled="connected" class="uk-button uk-button-default">Reset</button>
              </div>
            </div>
          </form>
        </li>

        <li>
          <!-- Subscrbe -->
          <form class="uk-form-stacked">
            <div class="uk-margin">
              <label class="uk-form-label" for="subscribe-on">Topic</label>
              <div class="uk-form-controls">
                <input type="text" id="subscribe-on" v-model="subscribe_on" :disabled="!connected" class="uk-input" placeholder="e.g.) my/topic/#">
              </div>
            </div>
            <div class="uk-margin">
              <div class="uk-form-controls">
                <button type="button" @click="subscribe()" :disabled="!connected" class="uk-button uk-button-default">Add Subscribe</button>
              </div>
            </div>
          </form>
          <h3 class="uk-heading-line">
            <span>Subscribing</span>
          </h3>
          <ul class="uk-list">
            <transition-group name="list">
              <li v-for="item in subscribed" :key="item">
                <a href="#" @click="unsubscribe(item)" class="uk-icon-link" uk-icon="trash"></a>
                <span style="margin-left: .5rem;"></span>{{ item }}
              </li>
            </transition-group>
          </ul>
          <h3 class="uk-heading-line">
            <span>Monitoring</span>
          </h3>
          <ul class="uk-list">
            <transition-group name="list">
              <li v-for="item in received_items" :key="item">
                <div class="uk-card uk-card-default uk-card-small">
                  <div class="uk-card-body">
                    <pre>{{ item.payloadString }}</pre>
                  </div>
                  <div class="uk-card-footer uk-text-meta">
                    {{ item.timestamp.format() }} | {{ item.destinationName }}
                  </div>
                </div>
              </li>
            </transition-group>
          </ul>
        </li>

        <li>
          <!-- Publish -->
          <form class="uk-form-stacked">
            <div class="uk-margin">
              <label class="uk-form-label" for="publish-to">Topic</label>
              <div class="uk-form-controls">
                <input type="text" id="publish-to" v-model="publish_to" :disabled="!connected" class="uk-input" placeholder="e.g.) my/topic">
              </div>
            </div>
            <div class="uk-margin">
              <label class="uk-form-label" for="publish-content">Content</label>
              <div class="uk-form-controls">
                <textarea id="publish-content" v-model="publish_content" :disabled="!connected" class="uk-textarea" rows="5"></textarea>
              </div>
            </div>
            <div class="uk-margin">
              <div class="uk-form-controls">
                <button type="button" @click="publish()" :disabled="!connected" class="uk-button uk-button-default">Publish</button>
              </div>
            </div>
          </form>
          <h3 class="uk-heading-line">
            <span>History</span>
          </h3>
          <ul class="uk-list">
            <transition-group name="list">
              <li v-for="item in sent_items" :key="item">
                <div class="uk-card uk-card-default uk-card-small">
                  <div class="uk-card-body">
                    <pre>{{ item.content }}</pre>
                  </div>
                  <div class="uk-card-footer uk-text-meta">
                    {{ item.timestamp.format() }} | {{ item.topic }}
                  </div>
                </div>
              </li>
            </transition-group>
          </ul>
        </li>

        <li>
          <!-- ETC -->
          <h4>Start instruction</h4>
          <ol class="uk-list uk-list-bullet">
            <li>Cognito > フェデレーテッドユーザーアイデンティティ</li>
            <li>新しいプールIDの作成</li>
            <li>プール名:任意、認証されていない ID に対してアクセスを有効にする:チェック > プール作成</li>
            <li>ロール:新規作成 > 許可</li>
            <li>ID プールの編集 > ID プールの ID を得る</li>
            <li>IAM</li>
            <li>ロール > Cognito_*Unauth_Role</li>
            <li>ポリシーのアタッチ > AWSIoTDataAccess にチェック > ポリシーのアタッチ</li>
          </ol>
          <h4>End instruction</h4>
          <ol class="uk-list uk-list-bullet">
            <li>Cognito > フェデレーテッドユーザーアイデンティティ</li>
            <li>削除対象のIDプールをクリック > IDプールの編集 > IDプールの削除</li>
            <li>IAM</li>
            <li>ロール > Cognito_*Unauth_Role と Cognito_*Auth_Role を削除</li>
          </ol>
          <h4>Trouble shooting</h4>
          <ul class="uk-list uk-list-bullet">
            <li>
              <code>AMQJS0007E Socket error:undefined.</code> > Not found CognitoIdentityPoolId or Network unreachable</li>
            <li>
              <code>AMQJS0008I Socket closed.</code> > Not Attach AWSIoTDataAccess on CognitoIdentityPool</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="uk-section uk-section-muted">
    <div class="uk-container">
      <div uk-grid class="uk-grid-match uk-child-width-1-2@s">
        <div>
          <dl class="uk-description-list">
            <dt>Reference</dt>
            <dd>
              <a href="https://github.com/ma2shita/mqtt-monitor">github.com/ma2shita/mqtt-monitor</a>
            </dd>
          </dl>
        </div>
        <div>
          <dl class="uk-description-list">
            <dt>License</dt>
            <dd>MIT / Copyright 2018
              <a href="https://twitter.com/ma2shita">Kohei MATSUSHITA</a>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</body>

<script>
  const defaultCognitoIdentityPoolId = ''; /* for UX. nullable */
  const clientIdPrefix = 'mqtt_mon_'; /* required for connect to AWS IoT */
</script>

<script>
  var app1 = new Vue({
    el: '#app1',
    data: {
      mqtt: null,
      op: 'connect',
      connected: false, /* for UX */
      connectSettings: {
        cognitoIdentityPoolId: '',
        clientId: ''
      },
      subscribe_on: '',
      subscribed: [],
      received_items: [],
      publish_to: '',
      publish_content: '',
      sent_items: []
    },
    methods: {
      action: function () {
        eval('this.' + this.op + '()'); /* NOTE: Avoiding `if(op==connect){this.connect()}` */
      },
      connect: function () {
        AWS.config.region = this.connectSettings.cognitoIdentityPoolId.split(':')[0];
        AWS.config.credentials = new AWS.CognitoIdentityCredentials({ IdentityPoolId: this.connectSettings.cognitoIdentityPoolId });
        var self = this; /* ref: https://qiita.com/takeharu/items/9935ce476a17d6258e27 */
        var cred = AWS.config.credentials;  /* for Short-hand */
        cred.get(function () {
          var endpoint = SigV4Utils.getSignedUrl(`data.iot.${AWS.config.region}.amazonaws.com`, AWS.config.region, cred);
          self.mqtt = new Paho.MQTT.Client(endpoint, self.connectSettings.clientId);
          self.mqtt.onMessageArrived = function (message) {
            message["timestamp"] = moment();
            self.received_items.unshift(message);
          };
          self.mqtt.onConnectionLost = function (e) {
            if (e.errorCode !== 0) {
              console.log(e);
              UIkit.notification(`onConnectionLost: ${e.errorMessage}`, { status: 'warning', timeout: 3000 }); /* for UX */
            } else {
              UIkit.notification("Disconnected", { status: 'success', timeout: 1000 }); /* for UX */
            }
            self.connected = self.mqtt.isConnected(); /* for UX */
            self.op = 'connect';
          };
          self.mqtt.connect({
            useSSL: true,
            mqttVersion: 4,
            onSuccess: function () {
              UIkit.notification("Connected", { status: 'success', timeout: 1000 }); /* for UX */
              self.connected = self.mqtt.isConnected(); /* for UX */
              sessionStorage.cognitoIdentityPoolId = self.connectSettings.cognitoIdentityPoolId; /* for UX */
              sessionStorage.clientId = self.connectSettings.clientId; /* for UX */
              self.subscribe_on = `${self.connectSettings.clientId}/msg/#`; /* for UX */
              self.publish_to = `${self.connectSettings.clientId}/msg/a`; /* for UX */
              self.op = 'disconnect';
            },
            onFailure: function (e) {
              console.log(e);
              UIkit.notification(`onFailure: ${e.errorMessage}`, { status: 'warning', timeout: 3000 }); /* for UX */
            }
          });
        });
      },
      disconnect: function () {
        this.mqtt.disconnect();
        /* NOTE: other behavior in onConnectionLost */
      },
      subscribe: function () {
        if (this.subscribed.indexOf(this.subscribe_on) === -1) { /* avoid dup subscribe */
          this.mqtt.subscribe(this.subscribe_on);
          this.subscribed.push(this.subscribe_on);
        }
      },
      unsubscribe: function (topic) {
        this.mqtt.unsubscribe(topic);
        this.subscribed.splice(this.subscribed.indexOf(topic), 1);
      },
      publish: function () {
        this.mqtt.send(this.publish_to, this.publish_content, 0, false);
        var message = { topic: this.publish_to, content: this.publish_content, timestamp: moment() };
        this.sent_items.unshift(message);
        this.sending_message = ''; /* for UX */
      },
      generateClientId: function () { /* for UX */
        this.connectSettings.clientId = `${clientIdPrefix}${Math.random().toString(36).substring(7)}`;
      },
      reset: function () { /* for UX */
        sessionStorage.clear();
        this.connectSettings.cognitoIdentityPoolId = '';
        this.generateClientId();
      }
    }
  });

  window.onload = function () {
    moment.locale('ja'); /* for UX */
    if (sessionStorage.cognitoIdentityPoolId && sessionStorage.clientId) { /* for UX */
      app1.connectSettings.cognitoIdentityPoolId = sessionStorage.cognitoIdentityPoolId;
      app1.connectSettings.clientId = sessionStorage.clientId;
    } else {
      app1.reset();
    }
  };
</script>
<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/js/uikit.min.js" integrity="sha256-2O4R+j0Pq+XLeUlXkPznJ0HrSkHA9keocNhV+csu6Zo="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/js/uikit-icons.min.js" integrity="sha256-w38UjohynFpNOMjhZJ/oUIo/Md7D4tpQQJri5qDDTlE="
  crossorigin="anonymous"></script>
</html>